body {
    background-color:lightcyan;
 }
 
 .container{
    width: 730px;
    margin: 0 auto;
    padding: 50px;
    background-color:darkcyan;
    border: 8px solid darkslategray;
 }
 .nav{
    list-style: none;
    text-align: center;
 }
 
 .nav li {
    display:inline;
    margin-right: 20px;
 }
 
 .div-test{
    background-color: cadetblue;
    text-align: center;
    color: aliceblue;
 }
 
 .span1 {
    font-size: 50px;
 }
 
 .span2 {
    font-size: 10px;
 }

 .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    margin: 40px;
}

.photo {
    text-align: center;
}

.photo img {
    width: 300px;
}